@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

canvas {
  width: 85vw !important;
  height: 600px !important;
}

@media screen and (max-width: 600px) {
  canvas {
    width: 100vw !important;
    height: 300px !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  canvas {
    width: 100vw !important;
    height: 400px !important;
  }
}

