@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

html {
  font-family: 'Poppins', sans-serif;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
canvas {
  width:83vw !important;
  height: 600px !important;
}



@media screen and (max-width: 600px) {
  canvas {
    width: 100% !important;
    height: 300px !important;
  }
}

@media screen and (min-width: 600px) and (max-width:1000px) {
  canvas {
    width: 100vw !important;
    height: 400px !important;
  }

}

.p-sidebar-content{
  width: 100% !important;

}
